*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    height: 15vh;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: aquamarine;
}